<!DOCTYPE html>
<html>
  <head>
    <title>Loser</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div id="main">
    <h1>Kill you, Loser</h1>
    <p>Welcome to to too.</p>
    <a href="http://www.duobei.com/room/course/9801113324">零基础搞定粤语发音</a>
    <br>
    todo:<br>
    空间倒计时<br>
    10000小时功能<br>
    <div id="navegate">
    	
    </div>
    <div id="content">
    	<img src="http://c.hiphotos.bdimg.com/album/s%3D550%3Bq%3D90%3Bc%3Dxiangce%2C100%2C100/sign=cc1b626a8594a4c20e23e72e3ecf6ae8/d53f8794a4c27d1ec888b8a119d5ad6eddc4382c.jpg?referer=62634163adc37931247fb21978e3&x=.jpg"/>
    </div>

  </div>
  </body>
</html>
