<!DOCTYPE html>
<html>
  <head>
    <title>Loser</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div id="main">
    <h1>Kill you, Loser</h1>
    <h1><%=path.static%></h1>
    <p>Welcome to to too.</p>
    <div id="navigator" ></div>
    <div>空间 2014-10-20 剩余时间：<span id="spacetime"></span></div>
    <div>域名 2018-10-21 剩余时间：<span id="domaintime"></span></div>
    <a href="http://www.duobei.com/room/course/9801113324">零基础搞定粤语发音</a>
    <a href="http://buy.hujiang.com/p581791/">零基础draw a picture</a>
    <br>
    todo:<br>
    空间倒计时<br>
    10000小时功能<br>

    安装环境  android  ios<br>
    运行示例  android<br>
    添加一个精灵<br>
    精灵运动<br>
    添加背景图<br>
    地图制作<br>
    精灵在地图上寻路<br>
    好, 先做这些<br>
    <div id="navegate">
    	
    </div>
    <div id="content">
    	<img height="3px" src="http://iamzc.qiniudn.com/images/www/protrait.jpg"/>
    </div>

  </div>
  </body>
        
    <script type="text/javascript" data-main="<%=path.static%>/js/index.js" src="<%=path.static%>/js/require.js" ></script>
</html>
