<div>
<% 
function showContent(name){
    if(diary[name]){
%>
    <div><%=diary[name]%></div>
<%
    }
}

for(var i=0;i<list.length;i++){
    var diary = list[i];
    %>
    <div class="diaryItem">
    <%
    showContent('weather');
    showContent('date');
    showContent('relation');
    showContent('work');
    showContent('health');
    showContent('money');
    showContent('news');
    %>
    </div>
    
    <%
}

%>
</div>
