<!DOCTYPE html>
<html>
<body>
	<div>
	    <form action="/diary/login" method="post">
	        查询最新的星座运势
	        <input type="password" name="star" id="passwd"/><br>
	        <input type="submit" value="submit"/>
	        <input type="hidden" name="action" value="<%=action%>"/>
	    </form>
	    <%=msg%>
	</div>
	<script src="http://cdn.staticfile.org/jquery/2.1.0/jquery.min.js"></script>
	<script>
	$("#passwd").focus();
	</script>
</body>
</html>
