<!DOCTYPE html>
<div>
    <form action="/diary/save" method="post">
        <br>天气：
        <textarea name="weather" id="weather">晴</textarea>
	<input type="button" value="clear" onclick="$('#weather').val('')"/>
        <br>位置：
        <textarea name="location" id="location">北京</textarea>
	<input type="button" value="clear" onclick="$('#location').val('')"/>
        <br>人际关系:
        <textarea name="relation"></textarea>
        <br>工作：
        <textarea name="work"></textarea>
        <br>健康：
        <textarea name="health"></textarea>
        <br>金钱：
        <textarea name="money"></textarea>
        <br>娱乐新闻时事：
        <textarea name="news"></textarea>
        <br>读书：
        <textarea name="read"></textarea>
        <br>其它：
        <textarea name="other"></textarea>
        <br>
        <input type="submit" value="submit"/>
        <input type="hidden" value="<%=token%>" name="token"/>
    </form>
</div>
<script src="http://cdn.bootcss.com/jquery/2.1.0/jquery.min.js"></script>
